body {
    background-color: rgb(15, 16, 15);
    color: white;
    font-family: 'Helvetica', sans-serif;
}

#results {
    margin-top: 20px;
}

.card {
    background-color: #2c2c2c;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    border-radius: 5px;
    max-height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    flex-grow: 1;
}

audio {
    width: 100%;
    margin-top: 10px;
}